//? ASAP font
@font-face{
    font-family: "Asap";
    src: url(../fonts/Asap/static/Asap-Regular.ttf) format("truetype");
}

//? Abril Fatface font
@font-face{
    font-family: "Abril Fatface";
    src: url(../fonts/Abril_Fatface/AbrilFatface-Regular.ttf) format("truetype");
}