html{
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Asap";
    outline: none;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

