//? colors
$color-red : rgb(253, 29, 29);
$color-pink : rgb(225, 48, 108);
$color-orange : rgb(247, 119, 55);
$color-purple : rgb(131, 58, 180);
$color-blue: rgb(64, 93, 230);


//? fonts



//? mixins



//? functions 




//? utility class

.container {
    margin: auto;
    width: 80%;
    height: 100%;
}